<section id="partners" class="wow fadeIn" data-wow-offset="50">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>About Us</h2>
                <span class="underline">&nbsp;</span>
                <p>Phetogo shuttle services was established in response to the great need for reliable, safe and affordable transportation in South Africa.  'Phetogo' means change, that's what drives us to continually improve our services in order to maintain a reputable service standard. We understand that living in a fast-paced city, can be stressful, especially on the roads. We take pride in our ability to provide our customers with hassle-free service, so they can get to their destinations safely and on time.  We owe it to our customers, to provide a service that positively changes their view on dependable transportation in Johannesburg and South Africa. </p>
                <h2>Why Choose Us<span class="underline"></span>
                </h2>
                <p>Have you experienced tardy and unsatisfactory service before, and feel there needs to be a change in the service industry? We at Phetogo shuttle services are driven to serve with unmatched professionalism. Our friendly and proficient drivers are well- trained to look after our customers and are proud of our excellent service ratings.<br>
                    We offer secure, comfortable and dependable shuttle services at competitive rates. Our experienced and qualified drivers take great care in ensuring that you arrive at your destination relaxed, safely and on time. We are fully aware of the importance of punctuality in the transportation industry, and strictly adhere to your timetable. Phetogo shuttle services operate on a daily basis to fit your travel schedule, and it’s our pleasure to be at your service.  The benefits of using our service include:</p>
                <p>Competitive rates<br>
                    Reliable navigation to and from your destination<br>
                    Saving on your fuel costs <br>
                    Periodic reviewing of drivers’ skills behind the wheel <br>
                    A large and varied fleet of vehicles to suit your service needs<br>
                    Vehicles that are regularly serviced and well maintained<br>
                    Vehicle inspection before and after trips </p>
            </div>
        </div>
    </div>
</section>


