<!-- Contact start -->
<section id="contact" class="container wow bounceInUp" data-wow-offset="50">
    <div class="row">
        <div class="col-md-12">
            <h2>Contact Us</h2>
        </div>
        <div class="col-md-4 col-xs-12 pull-right">
            <h4 class="contact-box-title">Customer Center</h4>
            <div class="contact-box">
                <div class="contact-box-name"></div>
                <div class="contact-box-phon"><span class="highlight">Phone:</span> +27 79-865-7450</div>
                <div class="contact-box-email"><span class="highlight">Email: </span><a href="mailto:info@phetogogroup.co.za">info@phetogogroup.co.za</a></div>
                <div class="clearfix"></div>
            </div>
            <div class="contact-box-border">&nbsp;</div>


        </div>
        <div class="col-md-8 col-xs-12 pull-left">
            <p class="contact-info">You have any questions or need additional information? <br>
                <span class="address"><span class="highlight">Address:</span>  Phetogo Shuttle Services/ Alberton, Jhb.</span></p>
            <form action="#" method="post" id="contact-form" name="contact-form">

                <div class="alert hidden" id="contact-form-msg"></div>

                <div class="form-group">
                    <input type="text" class="form-control first-name text-field" name="first-name" placeholder="First Name:">
                    <input type="text" class="form-control last-name text-field" name="last-name" placeholder="Last Name:">
                    <div class="clearfix"></div>
                </div>

                <div class="form-group">
                    <input type="tel" class="form-control telephone text-field" name="telephone" placeholder="Telephone:">
                </div>

                <div class="form-group">
                    <input type="email" class="form-control email text-field" name="email" placeholder="Email:">
                </div>

                <div class="form-group">
                    <textarea class="form-control message" name="message" placeholder="Message:"></textarea>
                </div>

                <input type="submit" class="btn submit-message" name="submit-message" value="Submit Message">


            </form>
        </div>

    </div>
</section>
<!-- Contact end -->
