<!-- Vehicles start -->
<section id="vehicles" class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="title wow fadeInDown" data-wow-offset="200">Our Vehicle at a glance</h2>
        </div>

        <!-- Vehicle nav start -->
        <div class="col-md-3 wow fadeInUp" data-wow-offset="100">
            <div id="vehicle-nav-container">
                <ul class="vehicle-nav">
                    <li class="active"><a href="#vehicle-1">Hyundai H1</a><span class="active">&nbsp;</span></li>



                </ul>
            </div>
        </div>
        <!-- Vehicle nav end -->

        <!-- Vehicle 1 data start -->
        <div class="vehicle-data" id="vehicle-1">
            <div class="col-md-6 wow fadeIn" data-wow-offset="100">
                <div class="vehicle-img">
                    <img class="img-responsive" src="app/img/vehicle1.jpg" alt="Vehicle">
                </div>
            </div>
            <div class="col-md-3 wow fadeInUp" data-wow-offset="200">
                <div class="vehicle-price">Car Specs</div>
                <table class="table vehicle-features">
                    <tr>
                        <td>Model</td>
                        <td>H-1</td>
                    </tr>
                    <tr>
                        <td>Doors</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>Seats</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>Luggage</td>
                        <td>851 litres</td>
                    </tr>
                    <tr>
                        <td>Transmission</td>
                        <td>Manual</td>
                    </tr>
                    <tr>
                        <td>Air conditioning</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Year</td>
                        <td>2014</td>
                    </tr>
                </table>
                <a href="#teaser" class="reserve-button scroll-to"><span class="glyphicon glyphicon-calendar"></span> Reserve now</a>
            </div>
        </div>
        <!-- Vehicle 1 data end -->

    </div>
</section>
<!-- Vehicles end -->

<!-- Reviews start -->
<section id="reviews" class="container wow fadeInUp">
    <div class="row text-center">
        <div class="col-md-12 stars">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star big"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div id="reviews-carousel" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">

                    <!-- Review item 1 start -->
                    <div class="item active">
                        <div class="review">
                            It is always a positive experience when riding with Phetogo. Their staff is very professional and efficient and always smiling. And I always feel welcome and appreciated. 
                            The management is  prompt to solve any issue at any moment. Their efficiency and professionalism makes it my number one choice.
                        </div>
                        <div class="author">
                            – Michael Smith, JHB.</div>
                    </div>
                    <!-- Review item 1 end -->



                </div>

                <!-- Review Nav start --><!-- Review Nav end -->

            </div>
        </div>
    </div>
</section>
<!-- Reviews end -->
