<section id="services" class="container">
    <div class="row">
        <div class="col-md-12 title">
            <h2>Our Services</h2>
            <span class="underline">&nbsp;</span>
        </div>

        <!-- Service Box start -->
        <div class="col-md-6">
            <div class="service-box wow fadeInLeft" data-wow-offset="100">
                <div class="service-icon">+</div>
                <h3 class="service-title">Airport Transfers</h3>
                <div class="clearfix"></div>
                <p class="service-content">Travelling to the airport can be unnerving, whether travelling for business or leisure. We constantly think about things we may have left behind or things we needed to do. This is apart from thinking about what would happen if we missed our flight!
                    Avoid the rush to check in on time, and enjoy a leisurely ride to the airport. </p>
                <p class="service-content">Our airport shuttle service allows you to take some time before being air-borne, in preparation for your trip. On arrival from the airport, we make sure you aren't stranded after your flight.              </p>
            </div>
        </div>
        <!-- Service Box end -->

        <!-- Service Box start -->
        <div class="col-md-6">
            <div class="service-box wow fadeInRight" data-wow-offset="100">
                <div class="service-icon">+</div>
                <h3 class="service-title">Scheduled transfers(city to city)</h3>
                <div class="clearfix"></div>
                <p class="service-content">Sitting in public transport over long distances, may not be an ideal situation for travelers who want a relaxed and enjoyable journey. We offer city to city transportation in the comfort and privacy of our well-maintained vehicles. With scheduled stops at your convenience, we offer the freedom of flexibility to travel as you please, to and from Johannesburg.
                </p>
                <p class="service-content">Our drivers will pick you up and drop you off at your home, hotel or preferred accommodation, with you only providing us with an address. Let us allow you to travel in comfort and at ease. </p>
            </div>
        </div>
        <!-- Service Box end -->

        <!-- Service Box start -->
        <div class="col-md-6">
            <div class="service-box wow fadeInLeft" data-wow-offset="100">
                <div class="service-icon">+</div>
                <h3 class="service-title">Tours</h3>
                <div class="clearfix"></div>
                <p class="service-content">Phetogo shuttle services caters for the avid tourist who wants the luxury of enjoying a scenic hassle-free trip. South Africa, with its diverse cultures and beautiful landscapes is best explored as a passenger than as a driver. With local drivers who are well-acquainted with the tourist hotspots, our customers are guaranteed a delightful experience.
                </p>
                <p class="service-content">Enjoy the freedom to come and go as you please, without having to adhere to a strict schedule. You provide your own itinerary and we simply get you to and from your destination. Our vehicles are spacious and air-conditioned for a comfortable ride.              </p>
            </div>
        </div>
        <!-- Service Box end -->

        <!-- Service Box start -->
        <div class="col-md-6">
            <div class="service-box wow fadeInRight" data-wow-offset="100">
                <div class="service-icon">+</div>
                <h3 class="service-title">School Transportation </h3>
                <div class="clearfix"></div>
                <p class="service-content">Avoid the early morning rush and take a drive to work without having do make any additional stops on the way. Whether you are carpooling or dropping off your children at school, we are available to help you cut down on transport costs and travelling time.
                    We offer transportation to and from various private schools in the south of Johannesburg. </p>
                <p class="service-content">Your children are placed in the safety and care of friendly, professional drivers who will make sure your children arrive at school safely and on time. Our drivers will also drive your children home after school and to and from extra-curricular activities. </p>
            </div>
        </div>
        <!-- Service Box end -->

    </div>
</section>
